@{
    ViewBag.Title = "Index";
}

<form class="form-inline">

<div class="container">
    <h3>Sample ToDo</h3>
    <table data-bind="template: {name:'todoTempl',foreach:list}" class="table"></table>

    <div class="form-group">
        <h4 class="page-header">Create ToDo</h4>
        <input type="text" id="txtTask" placeholder="Enter Task" class="form-control"/>
        <button data-bind="click: addTask" class="btn btn-primary">Save</button>
    </div>

</div>

</form>

<script id="todoTempl" type="text/html">
    <tr><td>
        <label class="checkbox" >
            <input type="checkbox" data-bind="checked: IsComplete, click: $parent.updateTask" />
            <span data-bind="text: Task, css: { inactive: IsComplete }"></span>
        </label></td>
    </tr>
</script>

<style>
    .inactive {
        text-decoration:line-through
    }

    .table td {
        border-top:none;
    }
</style>


